.header-area{
  padding: 20px 0;
  .logo {
      float: left;
      width: 220px;
      a{
        text-transform: uppercase;
        font-weight: 700;
        font-size: 30px;
      }
    }

        .menu {
          float: right;
          width: 980px;
          text-align: right;
        } 
        ul{
          text-align: right;
          li{
            display: inline-block;
            margin-left: 20px;
            a{
              font-size: 18px;
              color: $black;
              font-weight: 600;
              text-transform: uppercase;
              &:hover{
                color: $primary_color;
              }
            }
          }
        }
}

